wandb
files/IAM-32.pickle
files/IAM-64-as.pickle
files/IAM-32-as.pickle
files/CVL-32.pickle
files/resnet_18_pretrained.pth
saved_models/IAM-339-15-E3D3-LR5e-05-bs8-finetune/vatr.pth
files/style_samples/tmp
.idea/
files/tired_*
*.pyc
logs/
saved_images/
files/*.pth
*.pth
saved_models/*
files/stats/*
files/*
